@model PasswordChangeVM
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


@{
    ViewData["Title"] = "PasswordChange";
}

<div class="col-md-6 offset-md-3">

    <h2>User Password Change Form</h2>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"];
        </div>
    }

    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
    </div>

    <form asp-controller="Members" asp-action="PasswordChange" method="post">
       

        <div class="mb-3">
            <label for="PasswordOld" class="form-label" asp-for="PasswordOld"></label>
            <input asp-for="PasswordOld" class="form-control">
            <span class="text-danger" asp-validation-for="PasswordOld"></span>
        </div>

        <div class="mb-3">
            <label for="PasswordNew" class="form-label" asp-for="PasswordNew"></label>
            <input asp-for="PasswordNew" class="form-control">
            <span class="text-danger" asp-validation-for="PasswordNew"></span>
        </div>

        <div class="mb-3">
            <label for="PasswordConfirm" class="form-label" asp-for="PasswordNewConfirm"></label>
            <input asp-for="PasswordNewConfirm" class="form-control">
            <span class="text-danger" asp-validation-for="PasswordNewConfirm"></span>
        </div>

        <div class="row mb-3">
            <div class="col-md-8 offset-md-5">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
</div>

