@using System.Security.Claims;
@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Members" asp-action="Index">My Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Members" asp-action="PasswordChange">Change Password</a></li>
                <li><a class="dropdown-item" asp-controller="Members" asp-action="UserEdit">Edit Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Members" asp-action="Claims">Claim List</a></li>
                @if(User.HasClaim(x => x.Value == "admin" && x.Type == ClaimTypes.Role))
                {
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Page</a></li>
                }
                <li><a class="dropdown-item" asp-route-returnurl="/Home/Index" asp-controller="Members" asp-action="LogOut">Log Out</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <a class="btn btn-outline-success mx-2" asp-controller="Home" asp-action="SignIn">Sign In</a>
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Sign Up</a>
}